.jumbotron {
  background-color: rgb(248, 249, 250);
  color: black;
  padding-top: 2rem;
}

.jbt-img {
  max-width: 35%;
}

.icons {
  color: #212529;
  transition: 0.1s;
}

.s-icons {
  transition: 0.5s;
}

.s-icons:hover {
  transform: scale(1.2);
}

.html-icon:hover {
  color: orange;
}

.css-icon:hover {
  color: rgb(73, 134, 226);
}

.js-icon:hover {
  color: rgb(247, 186, 74);
}

.sass-icon:hover {
  color: rgb(190, 31, 190);
}

.bs-icon:hover {
  color: purple;
}

.card-button {
  margin-top: 20%;
}

.card-button a {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 20px;
  text-decoration: none;
  color: #212529;
  transition: 0.5s;
}

.card-button a:hover {
  border-radius: 5px;
  color: white;
  background-color: #212529;
}

@media (min-width: 700px) {
  .mt-n1 {
    margin-top: -5rem !important;
  }
}
